*.class

# Package Files #
*.jar
*.war
*.ear
/HamaGraphCommunityDetection/nbproject/private/
*.xml

*.mf

*.properties
/HamaGraphCommunityDetection/dist/
/HamaGraphCommunityDetection/build/
/CommunityDetection/nbproject/private/
/CommunityDetection/build/
/CommunityDetection/dist/
*.crc

CommunityDetection/output/part-00000

CommunityDetection/input/partitions/*

*.DS_Store
